*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    align-items: center;
}
/* main{
    padding: 2.5rem;
} */
.ItemsNavigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    font-size: 3rem;
    top: 7rem;
    width: calc(100% - 5rem);
    height: 25%;
    background: red;
}
.ItemsNavigation a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.Hide {
    display: none;
}
.FirstSection {
    padding: 2.5rem;
}
.FirstSection h1{
    font-size: 3.5rem;
    color: #1D1B67;
    font-weight: 700;
}
.FirstSection > p{
    font-size: 1.8em;
    margin-top: 1.5rem;
    color: #425466;
}
.Buttons{
    display: flex;
    gap: 5rem;
    margin-top: 1.5rem;
}
.Main, .Secondary {
    border: none;
    border-radius: 0.8rem;
}
.Main{
    padding: 2rem;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #1D1B67;
}
.Secondary{
    background: none;
    color: #425466;
    font-weight: 900;
}
.MiniParagraphs{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: #425466;
}
.SpecialParagraph{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.UnderlineParagraph{
    text-decoration: underline;
    font-weight: 900;
    margin-left: 2.8rem;
}
.SecondSection{
    /* margin-top: 2rem; */
    background-color: #46CCDE;
}
.SecondSection img {
    object-fit: cover;
    padding: 2.5rem;
    width: 100%;
}
.ThirdSection{
    padding: 2.5rem;
}
.Photos img{
    object-fit: cover;
    width: 15%;
    padding: 0.3rem;
    margin-top: 1.5rem;
}
.ThirdSection  h2{
    font-size: 3.5rem;
    color: #1D1B67;
    font-weight: 700;
}
.ThirdSection p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: #425466;
}
.FourSection, .FiveSection{
    padding: 2.5rem;
    background-color: #CDF9FF;
}
.FourSection h3, .FiveSection h4{
    font-size: 3.5rem;
    margin-top: 1.5rem;
    color: #005661;
    font-weight: 700;
}
.FourSection p:nth-child(1), .FiveSection p:nth-child(1){
    font-size: 1.8rem;
    color: #3B60BF;
    font-weight: 700;
}
.FourSection p:nth-child(2), .FiveSection p:nth-child(2){
    font-size: 1.8rem;
}
.FourSection p:nth-child(3), .FiveSection p:nth-child(3){
    font-size: 1.8rem;
    color: #425466;
    margin-top: 1.5rem;
}
.FourSection .Main{
    margin-top: 1.5rem;
}
.FiveSection .Secondary{
    margin-top: 1.5rem;
}
.arrow{
    margin-left: 0.3rem;
}
@media only screen and (min-width: 800px) {
    .Buttons{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .Flexbox{
        display: flex;
    }
    .FirstSection{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .SecondSection{
        width: 50%;
    }
}